@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

span.in,
span.out {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.final.show {
  animation: show 0.2s ease-out;
  transform: translate(-50%, -50%) scale(1);
}

.final.show h1 {
  animation: shake 1s ease infinite;
}
